<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Calculator</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
   
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2"/>  

	
    <access origin="*" /> 
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />
	<preference name="phonegap-version" value="cli-8.1.1" />
	<preference name="ShowSplashScreenSpinner" value="false"/>
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="SplashScreenDelay" value="4000" />
	<preference name="orientation" value="portrait" />
	<splash src="1928.jpg"/> 
	<icon src="3621.jpg" />
</widget>
