body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
    /* Простой сброс страницы */
    margin:0;
    padding:0;
} 
body{
    /* Установка по умолчанию цвет текста, фона и шрифта */
    color:#fff;
    font-size:13px;
    background: #222;
    font-family:Arial, Helvetica, sans-serif;
}
#fancyClock{
    height:200px;
    width:600px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-100px 0 0 -300px;
}
